<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
  	<meta name="apple-mobile-web-app-capable" content="yes" />
  	<meta name="format-detection" content="telephone=no" />
	  <link rel="stylesheet" href="static/fonts/material-icons.css">
	  <link rel="stylesheet" href="static/fonts/depend.css">

    <script type="text/javascript">
    	var initWidth = screen.width;
    	document.documentElement.style.width = initWidth;
  	</script>
  </head>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
